@import url('http://fonts.cdnfonts.com/css/roboto');
                
body{
    font-family: 'Sofia Pro', sans-serif;
}

.container{
    top: 15vw;
    left: 30vh;
    width: 30vw;
    height: auto;
    float: left;
    position: relative;
}

.titleText{
    color: #093F68;
    font-size: 40px;
} 

.paragraphText{
    color: #093F68;
    font-size: 20px;
}

.colored{
    color: #FC6868;
}

.buttonStarter{
    background-color: #FC6868;
    width: 150px;
    height: 50px;
    color:white;
    font-size: 16px;
    font-family: 'Sofia Pro', sans-serif;
    border-radius: 20px;
    border: 1px;
}

.buttonTracker{
    background-color: white;
    width: 150px;
    height: 50px;
    color: #093F68; 
    font-size: 16px;
    font-family: 'Sofia Pro', sans-serif;
    border-radius: 20px;
    border-color: #093F68;
    border: 1px;
    border-width: 1px;
    border-style: solid;
}

.image{
    width: 550px;
    height: 550px;
    position: relative;
    float: right;
    right:25vw;
    top: 9vh;
}

.firstVector{
    position: absolute;
    top: 0;
    right: 0;
}

.secondVector{
    position: absolute;
    bottom: 0;
    left: 0;
}
