@import url('http://fonts.cdnfonts.com/css/roboto');
                
body{
    font-family: 'Sofia Pro', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 10vh;
}

.navList{
    display: flex;
    flex-direction: row;
    gap: 30px;
    /*align-items:flex-end;
    justify-items:flex-end;*/
    margin-right: 20vw;
}


.logo{
    margin-left: 10vw;
    margin-top: 10px;
    width: 100px;
    /*height: 50px;*/
}

.buttonHome{
    color:#FC6868; 
    font-size: 18px;
    font-family: 'Sofia Pro', sans-serif;
    border-radius: 20px;
    border: 2px solid #FC6868;
}

.buttonAboutUs{
    color:#FC6868; 
    font-size: 18px;
    font-family: 'Sofia Pro', sans-serif;
    border-radius: 20px;
    border: 2px solid #FC6868;
}



.hamburger{
    display: none;
}

.darkButton{
    font-size: 30px;
    color: #FC6868;
}

.navList li{
    list-style: none;
    font-size: 18px;
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 600;
    color:#FC6868;
    /*border-radius: 20px;
    padding: 5px;*/
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}
li:hover{
    color: #093F68;
    transition: 0.3s;
}

a:link{
    text-decoration: none;
    color:inherit;
}
.mainSection{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 92vh;
}
.leftContainer{
    width: 25vw;
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
}

.leftContainer h1{
    color: #093F68;
    font-size: 50px;
    font-family: 'Sofia Pro', sans-serif;
}

.leftContainer p{
    margin-top: -20px;
    margin-bottom: 30px;
    color: #093F68;
    font-size: 16px; 
    font-weight: 300;
    font-family: 'Sofia Pro', sans-serif;
}

.colored{
    color: #FC6868;
}

.image{
    /*width: 550px;
    height: 550px;
    position: relative;
    float: right;*/
    height: 70%;
}

.buttonStarter{
    color:white; 
    font-size: 18px;
    font-family: 'Sofia Pro', sans-serif;
    border-radius: 20px;
    border: 2px solid #FC6868;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: 160px;
    background-color:#FC6868;   
    cursor: pointer;

}

.buttonTracker{
    color:#093F68; 
    font-size: 18px;
    font-family: 'Sofia Pro', sans-serif;
    border-radius: 20px;
    border: 2px solid #093F68;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    height: 50px;
    width: 160px;
    background-color: white;
    cursor: pointer;
}


.mainSectionAboutUs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 92vh;
}


.leftContainerAboutUsTitle{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#093F68;
    
}

.imageAboutUs1{
    width: 200px;
    height: 200px;
}

.leftContainerAboutUsP1{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    width: 90vh;
    margin-bottom: 10px;
}

.leftContainerAboutUsP2{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    width: 90vh;
    margin-bottom: 10px;
}
.imageAboutUs2{
    width: 200px;
    height: 200px;
}

.leftContainerAboutUsP3{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    width: 90vh;
    margin-bottom: 10px;
}


.imageAboutUs3{
    width: 200px;
    height: 200px;
}

.leftContainerAboutUs h1{
    color: #093F68;
    font-size: 50px;
    font-family: 'Sofia Pro', sans-serif;
    text-align: center;
}

.leftContainerAboutUs h4{
    color: #093F68;
    font-size: 30px;
    font-family: 'Sofia Pro', sans-serif;
    text-align: center;
}

.aboutUsP1{
    color: #093F68;
    font-size: 20px;
    font-family: 'Sofia Pro', sans-serif;
}

.aboutUsP2{
    color: #093F68;
    font-size: 20px;
    font-family: 'Sofia Pro', sans-serif;
}

.aboutUsP3{
    color: #093F68;
    font-size: 20px;
    font-family: 'Sofia Pro', sans-serif;
}


.leftContainerAboutUs p{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #093F68;
    font-size: 22px; 
}


.firstVector{
    position: absolute;
    top: 0;
    right: 0;
    width: 130px;
    height:500px;
}

.secondVector{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 130px;
    height:500px;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height:70vh;
    padding: 0;
    margin: 10px;
}

.contactContainer{
    display: flex;
    flex-direction: raw;
    align-items:center;
    justify-items: flex-start;
    width: 40vw;
    height: 50vh;
    border-radius: 20px;
    background-color: rgba(9,63,104,0.1);
    border: #FC6868 solid;
    
}

.contact h2{
    color:#093F68;
    font: 30px
} 

.contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 450px;
    border-radius: 20px 0 0 20px;
    gap: 20px;
}

.contactInput{
    text-indent: 10px;
    color: #093F68;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border:#093F68 solid; 
    text-indent: 10px;

}

.contactInput::placeholder{
    font-size: 10px;
    color: #093F68;
    
}

.textarea{
    resize: none;
    font-size: 10px;
    color: #093F68;
    text-indent: 10px;
    width: 200px;
}

.SubmitButton{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: #FC6868;
}

iframe{
    width: 550px;
    height: 450px;
    border-radius: 0 20px 20px 0;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height:35vh;
}

.footerUpper{
    display: flex;
    flex-direction: row;
    background-color:rgba(28,110,164,0.7);
    Justify-content: center;
    align-items: center;
    width: 100vw;
    height:25vh;
    gap: 70px;
    color: white;

}
    
.footerNavigation{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items:center;
    margin-right: 10px;
    height: 100vh;
    list-style: none;
    color: white;
    margin-top: 15px;

}


.footerNavigation li{
    list-style: none;
    font-size: 18px;
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 400;
    color:#FC6868;
    border-radius: 20px;
    padding: 5px;
    color: white;
}

.footerNavigation h2{
    color: #093F68;
}


.footerDown{
    display: flex;
    flex-direction: raw;
    align-items: center;
    justify-content:center;
    width: 100vw;
    height: 10vh;
    background-color: rgba(252,104,104,0.7);
}

.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.newsletter h2{
    color: #093F68;

}

.SoMe{
    gap: 20px;
    display: flex;
    align-items: center;    
    font-size: 25px;
    flex-direction: row;
    color: #093F68;
}

.apple{
    width: 100px;
    height: auto;
}
.google{
    width: 150px;
    height: auto;
}


li{
    list-style:none;
    padding:0;
    color: white;
}

.logoFooter{
    height: 50px;
    width: auto;
    margin-top: 25px;
}

.firstVectorOne{
    position: absolute;
    top: 0;
    right: 0;
    width: 130px;
    height:500px;
}
.spanAboutUs{
    margin-top: 10px;
}

.dark-mode{
    background-color:#093F68;
}

.dark-mode li{
    color: bisque;
}
 
dark-mode h1{
    color: bisque;
}
 
dark-mode p{
    color: bisque;
}


.buttonUp{
    position: fixed;
    top: 90%;
    right: 10%;
    width: 100;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 15px;
    background-color: #FC6868;
    color: white;
    border-radius: 20px;
}

.upArrow{
    color: #093F68;
    font-size: 30px;
}

.logInSection{
    left: 50%;
    right: 50%;
    height: 50vh;
    width: 50vw;
    position:absolute;
    display: none;
    flex-direction: column;
    align-items: center;
   
}




.loginForm{
    color:#093F68;
    background-color: aqua;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 450px;
    border-radius: 20px;
    gap: 20px;
 
}

@media only screen and (max-width: 600px) {
    html,body{
        overflow-x: hidden;
    }
    body{
        position: relative;
    }
    .hamburger{
        font-size: 20px;
        color:#FC6868;
    }

    .menuLogo{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        justify-items: flex-start;
    }
    .visibility .navList{
        display: flex;
    }

    .navigation{
        height: auto;
        flex-wrap: wrap;
        justify-content: center; 
        flex-direction: column ;
    }

    .navList{
        height: auto;
        flex-wrap: wrap;
        margin: 0;
        border-top:1px solid #093F68;
        display: none;
        flex-direction: column;

    }



    .logo{
        margin: 2px;
    }

    .image{
        display: none;
    }

    .firstVector{
        display: none;
    }

    .secondVector{
        display: none;
    }

    .mainSection{
        height: auto;
        flex-wrap: wrap;
        width: 70vw;
    }

    .leftContainer{
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        width: 50vw;
    }
   


    .mainSectionAboutUs{
        height: auto;
        flex-wrap: wrap;
    }
    .imageAboutUs{
        display: none;
    }
    .leftContainerAboutUs{
        height: auto;
        flex-wrap: wrap;
        margin: 0;
    }

    .contact{
        height: auto;
        flex-wrap: wrap;
        margin: 10px;
    }

    .contactContainer{
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
    }
    .contactForm{
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
    }


    .iframe{
        display: none;
    }

    .footer{
        height: auto;
        flex-wrap: wrap;
        justify-content: center; 
        margin: 0;
        width: 100vw;
    }

    .footerUpper{
        height: auto;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
    }
    .footerNavigation{
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footerNavigation1{
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .newsletter{
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footerDown{
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }


    /*.leftContainer{
        margin-left: 5vw;
    }*/
        
}
